{% extends 'index.html' %}

{% block title %}Login{% endblock %}

{% block content %}
  <div id= "reg" class="container" style="margin: auto"  >    <!--підгружає форму логінуваання-->
  <form method="post" >
   <h2>Login</h2>
    {% csrf_token %}
    {% for field in form %}
        <h5>{{ field.label_tag }}</h5>
      <p>{{ field }}</p>
      {% endfor %}
    <div>
  <input id="buttonS" class="btn btn-primary" type="submit" value="login"  style = "margin-top: 2%; margin-bottom: 5%;width:100%" /> <!--кнопка для підтвердження вводу-->
  <input type="hidden" name="next" value="{{ next }}" />
</div>
  </form>
       <br>
  <p><strong>-- OR --</strong></p>
  <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
  <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
  </div>
{% endblock %}
