{% extends 'index.html' %}


{% block content %}
   <style>
        .thumbnail {
          position: relative;
          width: auto;
          height: 10em;
          overflow: hidden;
        }
        .thumbnail img {
          position: absolute;
          left: 50%;
          top: 50%;
          height: auto;
          width: 100%;
          -webkit-transform: translate(-50%,-50%);
              -ms-transform: translate(-50%,-50%);
                  transform: translate(-50%,-50%);
        }
        .thumbnail img.portrait {
          width: 100%;
          height: auto;
        }
        p {
             overflow: hidden;
           text-overflow: ellipsis;
           display: -webkit-box;
           line-height: 20px;     /* fallback */
           max-height: 100px;      /* fallback */
           -webkit-line-clamp: 4; /* number of lines to show */
           -webkit-box-orient: vertical;
        }
        label{color: palevioletred;}
        a:hover{text-decoration: none;}
        #stuff{margin-bottom: 5%; border: #c7cecc 2px solid; height: 97%; margin-bottom: 4%;}

        .container{padding-top: 2%; padding-bottom: 2%;}

		.row{border: #f2f4f7 2px solid; margin-bottom: 1em;}
    </style>
    <div class="container">
            {% for obj in posts %}
                <div class="row">

				<div class="col-12" style="background-color:#f2f4f7;">
					<div class="row">
                        <div class="col-9"><a href="{% url 'books:blog-detail' obj.pk %}"><h3>{{ obj.title }}</h3></a></div>
                         <div class="col-3" style="color:red; padding-top: 0.5em; text-align:right;">by <b><a style="color: red" href="{% url 'books:user-profile' obj.author.pk %}" >{{ obj.author.username }}</a></b></div>
                    </div>
					<p>{{ obj.content }}</p>
					<label>{{ obj.created }}</label>
				</div>
		</div>
            {% endfor %}
    </div>
    <div class="col-6 offset-3 text-center" style="margin-top: 1.5rem;">
        {% include 'pagination.html' %}
     </div>

{% endblock %}