{% extends 'index.html' %}
{% load static %}
{% load staticfiles %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <style>

	.post_img{
	height: auto; width: 100%;
	}

	.like{height: 25px; width: auto; opacity: 0.7;}

	.shareico{height: 40px; width: auto; margin-right: 0.5em;}

	.ico{height: 20px; width: auto; margin-right: 0.2em; }

	#likeamount{margin-left: 10px;}

	#date{font-style: italic; right: 0; left: 100%;}

	.post{border: #e3e5e8 1px solid;}

	p{padding-left: 1em; padding-right: 1em;}

	textarea{width:100%; border: #e3e5e8 1px solid;}

	#comment{background-color: #f2f4f7; margin-bottom: 0.3em; width:100%;}

	button{width: 100%; background-color: #e7e7e7; color: black; border: none;}
	button:hover {
	  background-color: white
	}

	#comment_section{display: none;}

	#send_btn img
	{
		position: relative;
	    top: 50%;
	    left: 50%;
	    transform:translate(-50%, -50%);
	}

	@media only screen and (max-width: 500px) {
	  #del_btn {
		text-align: left;
	  }
	}

</style>

    <div class="container" style="margin-top:2%">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 post">



			<div class="row">
			<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12"><h3>{{ post.title }}</h3></div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="text-align: right"><label id="date">{{ post.timestamp }}</label></div>
			</div><br>
			<div class="row">
				<p style="white-space: pre-line;  background-color: rgba(255, 255,255, 0.3)">{{ post.content }}</p><br>
			</div>
			<p style="font-style: italic;">by <b>{{ post.author.username }}</b></p>
			<form method="post" style="margin-bottom: 4em">
                    {% csrf_token %}
                    {% if request.user.is_authenticated %}
                        {% for field in form %}
                            {{ field }}
                        {% endfor %}

                        <div id="send_btn"><input  type="submit" value="Submit" class="btn btn-outline-success" style="float: right; margin-top: 1em "></div>
                    {% else %}
                        <p style="color:red; text-align: center"> You're not authenticated to write a comment<p>
                    {% endif %}
                </form>


			<div class="row"><button onclick="show()"><label id="show_comments">Show comments</label></button></div>
			<div id="comment_section">
            {% if comments %}
                {% for obj in comments %}
				<div class="container" id="comment">
					<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><label><b><a style="color: red" href="{% url 'books:user-profile' obj.author.pk %}" >{{ obj.author.username }}</a></b></label></div>
								<div class="col-lg-4 col-md-4 col-sm-3 col-7" style="text-align: right" id="del_btn">
									{% if request.user == obj.author %}<a href="{% url 'books:delete-comment' obj.pk%}">
										<img src={% static 'img/delete.png' %} class="ico">
									</a>{% endif %}
								</div>
							<div class="col-lg-2 col-md-2 col-sm-3 col-5" style="text-align: right"><label id="date" style="font-size: 0.7em;">{{ obj.timestamp }}</label> </div>
					</div>
					<div class="row"><p>{{ obj.text }}</p></div>
				</div>
                {% endfor %}
            {% else %}
                <p style="text-align: center"><strong>No comments yet. You can be the first!</strong></p>
            {% endif %}
			</div>
		</div>
	</div>

	<script>
		function show()
		{
			if(document.getElementById("comment_section").style.display == "none")
			{
				document.getElementById("comment_section").style.display = "block";
				document.getElementById("show_comments").innerHTML = "Hide comments";
			}

			else
			{
				document.getElementById("comment_section").style.display = "none";
				document.getElementById("show_comments").innerHTML = "Show comments";
			}
		}
	</script>
{% endblock %}