{% extends 'index.html' %}
{% block title %}Edit Post{% endblock %}
{% block content %}
     <div id= "reg" class="container">
        <h1>Edit</h1>
        <form method="POST" style = " margin-bottom: 7%" class="post-form" autocomplete="off" enctype="multipart/form-data">{% csrf_token %}
            {% for field in form %}
            <h5>{{ field.label_tag }}</h5>
              {{ field }}<br>
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
            {% endfor %}
            <button id="buttonS" type="submit" class="btn btn-outline-success" style = "  float: right">Save</button>

        </form>
     </div>
{% endblock %}
