{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}LitLib{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src= "https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity= "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin= "anonymous" ></script> <script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity= "sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin= "anonymous" ></script> <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity= "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin= "anonymous" ></script>

</head>
<body style=" font-family:'Bookman Old Style' ">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'books:post-list' '-created'%}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
        <a class="nav-link" href={% url 'books:blog-list' %}>Blogs<span class="sr-only">(current)</span></a>
      </li>
    <li class="nav-item active">
        <a class="nav-link" href={% url 'books:chat' %}>Chat <span class="sr-only">(current)</span></a>
      </li>
   {% if user.is_authenticated %}

      <li class="nav-item dropdown " >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ user.username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
            <a class="dropdown-item" href="{% url 'books:user-profile' request.user.pk %}">Profile</a>
            <a class="dropdown-item" href="{% url 'books:notes' %}">Notes</a>
            <a class="dropdown-item" href="{% url 'books:create-post' %}">Create book</a>
            <a class="dropdown-item" href="{% url 'books:create-blog' %}">Create blog</a>
            <a class="dropdown-item" href="{% url 'books:user-settings' %}">Settings</a>
            {% if user.is_superuser %}
                <a class="dropdown-item" href="{% url 'admin:index' %}">Admin page</a>
                {% endif %}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'logout' %}?next=/home/filter=-created">Logout</a>
        </div>
      </li>
    {% else %}
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}">Login <span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="{% url 'books:signup' %}">SignUp <span class="sr-only">(current)</span></a>
      </li>
    {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0" method="GET"  action="{% url 'books:search' %}">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" name="q" value="{{ request.GET.q }}" aria-label="Search">
      <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">
    </form>
  </div>
</nav>
    {% block content %}
        <!-- templates are supposed to be rendered here-->
    {% endblock %}
</body>
<hr>
<footer class="text-center">Developed by: ©Michael Benko, LNU 2019</footer>
</html>