{% if items.has_other_pages %}
    <div class="col-6 offset-3 text-center pagination-set">
        <nav aria-label="">
            <ul class="pagination">
                {% if items.has_previous %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ items.previous_page_number }}{% if query %}&q={{ query }}{% endif %}">&laquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link"><span>&laquo;</span></a></li>
                {% endif %}
                {% for i in page_range %}
                    {% if items.number == i %}
                        <li class="page-item active"><a class="page-link" href="#">{{ i }} <span
                                class="sr-only">(current)</span></a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}{% if query %}&q={{ query }}{% endif %}</a></li>
                    {% endif %}
                {% endfor %}
                {% if items.has_next %}
                    <li class="page-item"><a class="page-link" aria-label="Next"
                                             href="?page={{ items.next_page_number }}{% if query %}&q={{ query }}{% endif %}">&raquo;</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link"><span>&raquo;</span></a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endif %}
