{% extends 'index.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container" style="padding-top: 3%;margin-bottom: 4em">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success" style="float: right ">Submit</button>
        </form>
    </div>
{% endblock%}