{% extends 'index.html' %}
{% load static %}
{% load staticfiles %}
{% block title %}{{ user.username }}{% endblock %}
{% block content %}
    <style>

	.thumbnail {
  position: relative;
  width: 100%;
  height: 20em;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);


}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

p{font-size: 1.2em;}

    #cont{
             overflow: hidden;
           text-overflow: ellipsis;
           display: -webkit-box;
           line-height: 20px;     /* fallback */
           max-height: 100px;      /* fallback */
           -webkit-line-clamp: 4; /* number of lines to show */
           -webkit-box-orient: vertical;
        }
.shareico{height: 40px; width: auto; margin-right: 0.5em;}

</style>
    <div class="container" >
		<div class="row" >
			<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
				<div class="thumbnail">
					<img class="post_pic" src='/media/{{ profile.avatar }}' >
				</div>
			</div>
			<div class="col-lg-8 col-md-6 col-sm-12 col-xs-12" style="background-color: #f2f4f7; padding-left: 20px;">
                <h3>{{ user.username }}<span style="float: right;"><a href="{% url '' request.user.pk%}">delete profile</a></span></h3>
				<p>{{ user.first_name }} {{ user.last_name }}</p>
				<div class="row"><img src={% static 'img/phone.png' %} class="shareico"><p>{{ profile.phone }}</p></div>
				<div class="row"><img src={% static 'img/website.png' %} class="shareico"><p>{{ profile.site }}</p></div>
				<div class="row"><img src={% static 'img/skype.png' %} class="shareico"><p>{{ profile.skype }}</p></div>
				<div class="row"><img src={% static 'img/instagram.png' %} class="shareico"><p>{{ profile.instagram }}</p></div>
				<div class="row"><img src={% static 'img/email.png' %} class="shareico"><p>{{ user.email }}</p></div>
			</div>
		</div>
    <hr>
    <h3 style="text-align: center">Favorite books</h3>
    <hr>
    {% if favorites %}
        {% for obj in favorites %}
                <div class="row">

				<div class="col-12" style="background-color:#f2f4f7;">
					<div class="row">
                        <div class="col-9"><a href="{% url 'books:post-detail' obj.book.pk %}"><h3>{{ obj.book.title }}</h3></a></div>
                         <div class="col-3" style="color:red; padding-top: 0.5em; text-align:right;">by <b>{{ obj.book.author.username }}</b></div>
                    </div>
					<p id="cont">{{ obj.book.content }}</p>
					<label>{{ obj.book.created }}</label>
				</div>
		</div>
            {% endfor %}
	</div>
    {% else %}
        <p style="text-align: center ">There is no favorite books yet!</p>
    {% endif %}
{% endblock %}