{% extends 'index.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container" style="padding-top: 3%; margin-bottom: 4em">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <a href="{% url 'books:change-password'%}">Change password</a><br><br>
            <button type="submit" class="btn btn-success" style="float: right">Submit</button>
        </form>
        <a href = '{% url 'books:delete-user' %}' class=" btn btn-danger" onclick="return confirm('Do you really want to delete this post?')"> Delete Page</a>
    </div>
{% endblock%}